*{
    font-family:verdana,tahoma,sans-serif;
    text-align: center;
}

header{
    background: url(../images/cats.jpg);
    height:195px;
}

header h1{
    margin:0;
    color:blue;
    text-align:center;
    font-size:100px;
    padding-top: 35px;
}

#status{
    font-style: italic;
    height:32px;
}

.result {
    position: relative;
    height:fit-content;
    width: 150px;
    float:left;
    border: 2px solid black;
    padding:5px;
    margin-left:10px;
    margin-bottom:10px;
    border-radius: 10px;
    background-color: #797979;
}

.result img {
    border: 2px solid black;
    margin-bottom: 0;
    margin-top: 5%;
}

.result span{
    font-size:12px;
    font-weight:bold;
    display:block;
    margin-bottom: 0;
}

.result audio{
    width: 130px;
}

#content {
    display: grid;
    grid-template-columns:  repeat(auto-fit, 10%);
    grid-template-rows: repeat(1fr);
    row-gap: 10px;
}

button{
    display : inline-block;
    cursor : pointer;

    border-style : solid;
    border-width : 1px;
    border-radius : 50px;
    padding : 10px 18px;
    box-shadow : 0 1px 4px rgba(0,0,0,.6);
    font-size : 9.5pt;
    font-weight : bold;
    color : #fff;
    text-shadow : 0 1px 3px rgba(0,0,0,.4);
    font-family : sans-serif;
    text-decoration : none;
}

button.green{
    border-color: #8fc800;
    background: #8fc800;
    background: linear-gradient(to bottom, #8fc800 0%,#438c00 100%);
}

button:hover{
    background: #8fDD00;
}

button:active{
    background: #8fFF00;
    box-shadow : 0 0 6px rgba(0,0,0,.6);
}

button:focus {outline:0;}

input, select, option {
    border-radius: 5px;
    border: 2px solid black;
    font-size: large;
    width: 5%;
}

select {
    background-color: white;
}

.widgets{
    margin-top: 1em;
    margin-bottom:1em;
}
